.notification-counter {
  box-sizing: border-box;
  min-width: 16px;
  height: 16px;
  padding: 1px 3px 0;
  border-radius: 8px;
  // @include font-montserrat();
  color: #fff;
  background: $gab-alert-red;

  @include text-sizing(14px, 400, 14px, center);
  @include abs-position(-14px, auto, auto, -16px);

  @media screen and (max-width: $nav-breakpoint-1) {
    @include abs-position(0, auto, auto, 27px, false);
  }
}

.column-link--transparent .notification-counter {
  border-color: darken($ui-base-color, 8%);
}