.introduction {
  @include flex(center, center, column);

  @media screen and (max-width: 920px) {
    background: darken($ui-base-color, 8%);
    display: block !important;
  }

  &__pager {
    background: darken($ui-base-color, 8%);
    box-shadow: 0 0 15px rgba($base-shadow-color, 0.2);
    overflow: hidden;
  }

  &__pager,
  &__frame {
    border-radius: 10px;
    width: 50vw;
    min-width: 920px;

    @media screen and (max-width: 920px) {
      min-width: 0;
      width: 100%;
      border-radius: 0;
      box-shadow: none;
    }
  }

  &__frame-wrapper {
    opacity: 0;
    transition: opacity 500ms linear;

    &.active {
      opacity: 1;
      transition: opacity 50ms linear;
    }
  }

  &__frame {
    overflow: hidden;
  }

  &__illustration {
    height: 50vh;

    @media screen and (max-width: 630px) {
      height: auto;
    }

    img {
      object-fit: cover;
      display: block;
      margin: 0;

      @include size(100%);
    }
  }

  &__text {
    &--columnized {
      display: flex;

      &>div {
        flex: 1 1 33.33%;
        text-align: center;
        padding: 25px;
        padding-bottom: 30px;
      }

      @media screen and (max-width: 630px) {
        display: block;
        padding: 15px 0;
        padding-bottom: 20px;

        &>div {
          padding: 10px 25px;
        }
      }
    }

    h3 {
      margin-bottom: 10px;

      @include text-sizing(24px, 700, 1.5);
    }

    p {
      color: $darker-text-color;

      @include text-sizing(16px, 400, 24px);

      code {
        display: inline-block;
        background: darken($ui-base-color, 8%);
        font-size: 15px;
        padding: 1px 3px;

        @include border-design(lighten($ui-base-color, 8%), 1px, 2px);
      }
    }

    &--centered {
      padding: 25px;
      padding-bottom: 30px;
      text-align: center;
    }
  }

  &__dots {
    padding: 25px;

    @include flex(center, center);

    @media screen and (max-width: 630px) {
      display: none;
    }
  }

  &__dot {
    background: transparent;
    margin: 0 3px;
    cursor: pointer;

    @include size(14px);
    @include border-design($ui-highlight-color, 1px, 14px);

    &:hover {
      background: lighten($ui-base-color, 8%);
    }

    &.active {
      cursor: default;
      background: $ui-highlight-color;
    }
  }

  &__action {
    padding: 0 25px 25px 25px;

    @include flex(center, center);
  }
}