.timeline-compose-block {
  display: flex;
  align-items: flex-start;
  padding: 20px;
  margin-bottom: 20px;
  @include gab-container-standards();

  .emoji-picker-wrapper {
    .emoji-picker-dropdown {
      top: 10px;
    }
  }

  .compose-form {
    flex: 1 1;
    padding: 0 0 0 20px !important;
    position: relative;
  }
}