.list-adder {
  flex-direction: column;
  overflow: hidden;
  overflow-y: scroll;

  @include size(100%);

  @media screen and (max-width: 420px) {
    width: 90%;
  }

  &__account {
    background: lighten($ui-base-color, 13%);
    border-radius: 4px;
  }

  &__lists {
    background: lighten($ui-base-color, 13%);
  }
}