.column {
  display: flex;
  position: relative;
  box-sizing: border-box;
  flex-direction: column;
  // width: 350px;
  flex: 1 1 100%;
  overflow: hidden;

  @media screen and (min-width: 631px) {
    flex: 0 0 auto;
    padding: 10px 5px;

    &:first-child {
      padding-left: 10px;
    }

    &:last-child {
      padding-right: 10px;
    }
  }
}