button,
a.button {
	&.standard {

		// NOTE - will define the larger standard buttons here and apply class where used.

		&-small {
			height: 20px;
			padding: 5px 15px;
			border: none;
			border-radius: 4px;
			text-transform: uppercase;
			color: white;
			background: $gab-small-cta-primary;

			@include text-sizing(11px, 700, 11px);
		}
	}
}



