input[type='text'],
textarea {
  &.standard {
    box-sizing: border-box;
    padding: 7px 10px;
    border: 1px solid;
    border-radius: 4px;
    color: $gab-brand-default;
    border-color: $gab-placeholder-accent;
    background: $gab-background-container;

    @include text-sizing(16px, 400, 18);
    @include input-placeholder {
      color: $gab-placeholder-accent;
    }

    body.theme-gabsocial-light & {
      color: $gab-placeholder-accent;
      border-color: $gab-secondary-text;
      background: $gab-background-base-light;

      @include input-placeholder {
        color: $gab-secondary-text;
      }
    }

    &:focus {
      outline: none;
    }
  }
}

textarea.standard {
  resize: vertical;
}