.compose-form-upload {
  flex: 1 1 0;
  min-width: 40%;
  margin: 5px;

  &__actions {
    background: linear-gradient(180deg, rgba($base-shadow-color, 0.8) 0, rgba($base-shadow-color, 0.35) 80%, transparent);
    opacity: 0;
    transition: opacity .1s ease;

    @include flex(space-between, flex-start);

    .icon-button {
      flex: 0 1 auto;
      color: $gab-secondary-text;
      padding: 10px;
      font-family: inherit;

      @include text-sizing(14px, 500);

      &:hover,
      &:focus,
      &:active {
        color: $gab-text-highlight;
      }
    }

    &.active {
      opacity: 1;
    }
  }

  &__description {
    z-index: 2;
    box-sizing: border-box;
    background: linear-gradient(0deg, rgba($base-shadow-color, 0.8) 0, rgba($base-shadow-color, 0.35) 80%, transparent);
    padding: 10px;
    opacity: 0;
    transition: opacity .1s ease;

    @include abs-position(auto, 0, 0, 0);

    textarea {
      background: rgba(0, 0, 0, 0.3);
      box-sizing: border-box;
      background: transparent;
      color: $gab-secondary-text;
      border: 1px solid $gab-secondary-text;
      outline: none;
      padding: 10px;
      margin: 0;
      width: 100%;
      font-family: inherit;

      @include text-sizing(14px, 500);

      &:focus {
        color: #fff;
      }

      &::placeholder {
        color: $gab-secondary-text;
      }
    }

    &.active {
      opacity: 1;
    }
  }

  &__thumbnail {
    border-radius: 4px;
    overflow: hidden;

    @include size(100%, 140px);
    @include background-image("");
  }
}