.timeline-queue-header {
  display: block;
  width: 100%;
  max-height: 0px;
  position: relative;
  background-color: darken($ui-base-color, 8%);
  border-bottom: 1px solid;
  border-top: 1px solid;
  border-color: darken($ui-base-color, 4%);
  transition: max-height 2.5s ease;
  overflow: hidden;

  &--extended {
    max-height: 46px;
  }

  &__btn {
    display: block;
    cursor: pointer;
    color: $secondary-text-color;

    @include size(100%);
    @include text-sizing(14px, 400, 46px, center);

    span {
      height: 46px;
    }
  }
}