- description = t('statuses.title', name: display_name(account), quote: status.spoiler_text.presence || status.text)

%meta{ name: 'description', content: description }/
= opengraph 'og:description', description
