.tabs-bar {
  display: flex;
  box-sizing: border-box;
  background: #000;
  flex: 0 0 auto;
  overflow-y: auto;
  height: 50px;
  position: sticky;
  top: 0;
  z-index: 4;

  &__container {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;

    @include margin-center;

    // NOTE - might need to adjust this based on column sizing
    @media screen and (max-width: $nav-breakpoint-4) {
      padding: 0 20px;
    }

  }

  &__split {
    display: flex;
    width: auto;

    &--left {
      margin-right: auto;
    }

    &--right {
      margin-left: auto;
      padding-top: 8px;

      @media screen and (max-width: $nav-breakpoint-3) {
        padding-top: 4px;
      }
    }
  }

  &__search-container {
    display: block;
    width: 251px;

    @media screen and (max-width: $nav-breakpoint-2) {
      display: none;
    }

    .search {
      margin: 0;
    }
  }

  &__profile {
    position: relative;
    overflow: hidden;
    margin: 0 0 0 20px;

    @include size(34px);

    @media screen and (max-width: $nav-breakpoint-3) {
      margin: 0;

      @include size(42px);
    }

    .account__avatar {
      background-size: 34px 34px;

      @include size(34px);

      @media screen and (max-width: $nav-breakpoint-3) {
        background-size: 42px 42px;

        @include size(42px);
      }
    }

    .compose__action-bar {
      display: block;

      @include abs-position(0, 0, 0, -5px);

      i {
        display: none;
      }
    }
  }

  &__button-compose {
    display: block;
    margin-left: 20px;
    border-radius: 17px;

    @include size(70px, 34px);

    @media screen and (max-width: $nav-breakpoint-3) {
      display: none;
    }

    &:hover {
      background-color: lighten($gab-brand-default, 5%);
    }

    span {
      display: none;
    }
  }

  &__button {
    margin-left: 12px;
    height: 34px;
  }

  .flex {
    display: flex;
  }

  @media screen and (max-width: 630px) and (max-height: 400px) {
    will-change: margin-top;
    transition: margin-top 400ms 100ms;
  }
}

.tabs-bar-item {
  display: flex;
  position: relative;
  flex: 1 1 auto;
  margin: 0 25px 0 0;
  color: white;
  text-decoration: none;
  padding-top: 14px;
  box-sizing: border-box;

  @media screen and (max-width: $nav-breakpoint-1) {
    margin: 0;
    padding-top: 12px !important;

    @include size(46px, 50px);

    &.active {
      border-bottom: 2px solid $gab-brand-default;
    }

    &>span {
      display: none;
    }
  }

  &.optional {
    display: none;

    @media screen and (max-width: $nav-breakpoint-2) {
      display: flex;
    }
  }

  &.active {
    color: $gab-text-highlight;

    .tabs-bar-icon__path {
      fill: $gab-text-highlight;
    }
  }

  &--logo {
    display: block;
    margin-right: 35px;
    padding-top: 10px;
    border: none;
    box-sizing: border-box;

    @include size(50px);

    @media (min-width: $nav-breakpoint-4) and (max-width: $nav-breakpoint-1) {
      margin-right: 15px;
    }

    @media screen and (max-width: $nav-breakpoint-4) {
      display: none;
    }

    & span {
      display: none !important;
    }
  }

  .tabs-bar-icon {
    margin-right: 6px;

    &__path {
      fill: $white;
    }

    @media screen and (max-width: $nav-breakpoint-1) {
      margin: 0 auto;
    }
  }
}