.reply-indicator {
  border-radius: 4px;
  margin-bottom: 10px;
  background: $gab-background-base-light;
  padding: 10px;
  min-height: 23px;
  overflow-y: auto;
  flex: 0 2 auto;
  max-height: 500px;

  @media screen and (min-width: 320px) and (max-width: 375px) {
    max-height: 220px;
  }

  @media screen and (max-width: 320px) {
    max-height: 130px;
  }

  &__header {
    margin-bottom: 5px;
    overflow: hidden;
  }

  &__cancel {
    float: right;
    line-height: 24px;
  }

  &__display-name {
    color: $inverted-text-color;
    display: block;
    max-width: 100%;
    line-height: 24px;
    overflow: hidden;
    padding-right: 25px;
    text-decoration: none;

    &:hover strong {
      text-decoration: underline;
    }
  }

  &__display-avatar {
    float: left;
    margin-right: 5px;
  }
}

.reply-indicator-content {
  position: relative;
  padding-top: 2px;
  color: $primary-text-color;

  @include text-sizing(15px, 400, 20px);
  @include text-overflow(normal, break-word);

  &:focus {
    outline: 0;
  }

  &.status__content--with-spoiler {
    white-space: normal;

    .status__content__text {
      white-space: pre-wrap;
    }
  }

  .emojione {
    margin: -3px 0 0;

    @include size(20px);
  }

  p {
    margin-bottom: 20px;
    white-space: pre-wrap;

    &:last-child {
      margin-bottom: 2px;
    }
  }

  a {
    color: $gab-brand-default;
    text-decoration: none;

    &:hover {
      text-decoration: underline;

      .fa {
        color: lighten($dark-text-color, 7%);
      }
    }

    &.mention {
      &:hover {
        text-decoration: none;

        span {
          text-decoration: underline;
        }
      }
    }

    .fa {
      color: $dark-text-color;
    }
  }

  .status__content__spoiler-link {
    background: $action-button-color;

    &:hover {
      background: lighten($action-button-color, 7%);
      text-decoration: none;
    }

    &::-moz-focus-inner {
      border: 0;
    }

    &::-moz-focus-inner,
    &:focus,
    &:active {
      outline: 0 !important;
    }
  }

  .status__content__text {
    display: none;

    &.status__content__text--visible {
      display: block;
    }
  }
}