.avatar {
  // @include avatar-radius();
  display: block;
  position: relative;
  // background-color: $ui-base-color;
  object-fit: cover;

  &--inline {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
  }

  &-composite {
    // @include avatar-radius();
    overflow: hidden;

    &>div {
      // @include avatar-radius();
      float: left;
      position: relative;
      box-sizing: border-box;
    }
  }
}