.verified-icon {
  display: inline-block;
  margin-top: 1px;
  margin-left: 4px;
  vertical-align: top;
  position: relative;

  @include size(15px);

  &:before {
    background-color: #00A3ED;
    border-radius: 50%;

    @include pseudo;
    @include abs-position(0, 0, 0, 0, false);
  }

  &:after {
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    color: #fff;

    @include pseudo('\f00c');
    @include size(15px);
    @include text-sizing(0.6em, 400, 15px, center);
  }
}