.floating-action-button {
  display: none;
  position: fixed;
  z-index: 1000;
  border: none;
  background-color: $gab-brand-default;
  padding-top: 6px;
  padding-left: 10px;

  @include circle(56px);
  @include abs-position(auto, 14px, 14px, auto, false);

  @media screen and (max-width: $nav-breakpoint-3) {
    display: block !important;
  }

  &:hover,
  &:focus,
  &:active {
    background-color: lighten($gab-brand-default, 5%);
  }

  .compose-icon {
    &__path {
      fill: #fff;
    }
  }
}