.column-back-button {
  background: lighten($ui-base-color, 4%);
  color: $highlight-text-color;
  cursor: pointer;
  flex: 0 0 auto;
  border: 0;
  text-align: unset;
  padding: 15px;
  margin: 0;
  z-index: 3;
  outline: 0;

  @include text-sizing(16px, 400, 1);

  &:hover {
    text-decoration: underline;
  }

  &--slim {
    cursor: pointer;
    flex: 0 0 auto;
    font-size: 16px;
    padding: 15px;

    @include abs-position(0, 0);
  }

  &__icon {
    display: inline-block;
    margin-right: 5px;
  }
}