.error-boundary {
  &__container {
    @include margin-center(auto);
  }

  span {
    display: block;
    text-align: center;
    color: $secondary-text-color;
  }

  &__link {
    display: block;
    text-align: center;
    color: $gab-brand-default;

    @include margin-center(15px);
  }
}