- description = t('statuses.title', name: display_name(account), quote: truncate(activity.spoiler_text.presence || activity.text, length: 50, omission: '…', escape: false))

%meta{ name: 'description', content: description }/
= opengraph 'og:description', description
