.page {
  display: flex;
  flex-direction: row;
  width: 100%;

  &__top {
    display: flex;
    z-index: 105;

    @include size(100%, auto);

    @media (min-width:895px) {
      top: -290px;
      position: sticky;
    }
  }

  .main {
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 1;
    flex-grow: 1;
    align-items: flex-start;

    &__container {
      display: flex;
      align-items: stretch;
      justify-content: space-between;
      flex-grow: 1;
      flex-direction: row;
      width: 990px;
    }
  }
}

.main-contents {
  display: flex;
  max-width: 600px;
  z-index: 1;

  &__inner {
    
  }
}

.main-sidebar {
  display: flex;
  width: 350px;

  &__inner {
    
  }
}