.account {
  padding: 10px;

  &:not(:last-of-type) {
    border-bottom: 1px solid lighten($ui-base-color, 8%);
  }

  &__display-name {
    display: block;
    flex: 1 1 auto;
    color: $darker-text-color;
    overflow: hidden;
    text-decoration: none;
    font-size: 14px;

    strong {
      display: block;
      color: $primary-text-color;

      @include text-overflow;
    }
  }

  &__wrapper {
    display: flex;
  }

  &__relationship {
    height: auto;
    position: relative;
    padding: 0 0 0 5px;
  }

  &__avatar-wrapper {
    float: left;
    margin-right: 12px;
  }

  &__avatar {
    display: block;
  }
}