.column-link {
  background: lighten($ui-base-color, 8%);
  color: $primary-text-color;
  display: block;
  font-size: 16px;
  padding: 15px;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    background: lighten($ui-base-color, 11%);
  }

  &:focus {
    outline: 0;
  }

  &--transparent {
    background: transparent;
    color: $ui-secondary-color;

    &:hover,
    &:focus,
    &:active {
      background: transparent;
      color: $primary-text-color;
    }

    &.active {
      color: $ui-highlight-color;
    }
  }

  &__icon {
    display: inline-block;
    margin-right: 5px;
  }
}