.section-headline-bar {
  background: darken($ui-base-color, 4%);
  border-bottom: 1px solid lighten($ui-base-color, 8%);
  cursor: default;
  display: flex;
  flex-shrink: 0;

  button {
    background: darken($ui-base-color, 4%);
    border: 0;
    margin: 0;
  }

  button,
  a {
    display: block;
    flex: 1 1 auto;
    color: $secondary-text-color;
    padding: 15px 0;
    text-decoration: none;
    position: relative;

    @include text-sizing(14px, 500, 1, center);

    &.active {
      color: $primary-text-color;

      &::before,
      &::after {
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        border-style: solid;
        border-width: 0 10px 10px;
        border-color: transparent transparent lighten($ui-base-color, 8%);

        @include pseudo;
        @include size(0);
      }

      &::after {
        bottom: -1px;
        border-color: transparent transparent $ui-base-color;
      }
    }
  }
}

.account-section-headline {

  button,
  a {
    flex: none;
    padding: 18px 15px;

    @include text-sizing(16px, 600);
  }
}