.moved-note {
  padding: 14px 10px 16px 10px;
  background: lighten($ui-base-color, 4%);
  border-top: 1px solid lighten($ui-base-color, 8%);
  border-bottom: 1px solid lighten($ui-base-color, 8%);

  &__message {
    position: relative;
    margin-left: 58px;
    color: $dark-text-color;
    padding-bottom: 4px;
    font-size: 14px;

    >span {
      display: block;

      @include text-overflow;
    }
  }

  &__icon-wrapper {
    left: -26px;
    position: absolute;
  }

  &__display-name {
    display: block;
    color: $secondary-text-color;
    margin-bottom: 0;
    line-height: 24px;
    overflow: hidden;

    strong,
    span {
      display: block;
      
      @include text-overflow;
    }

    strong {
      font-size: 16px;
      color: $primary-text-color;
    }

    &:hover strong {
      text-decoration: underline;
    }
  }

  &__display-avatar {
    position: relative;
    float: left;
    margin-right: 10px;
  }
}