.search-header {
  display: block;
  width: 100%;

  &__text-container {
    display: none;
    padding: 25px 0;
    background-color: lighten($ui-base-color, 6%);

    @media (min-width:895px) {
      display: block;
    }
  }

  &__title-text {
    color: $primary-text-color;
    font-size: 27px;
    font-weight: bold;
    line-height: 32px;
    overflow: hidden;
    padding-left: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto;
  }

  &__type-filters-tabs {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    @media screen and (max-width:895px) {
      max-width: 580px;
    }
  }

  @media (min-width:895px) and (max-width:1190px) {

    &__title-text,
    &__type-filters-tabs {
      max-width: 900px;
    }
  }
}