.detailed-status-action-bar {
  display: flex;
  flex-direction: row;
  padding: 10px 0;
  background: lighten($ui-base-color, 4%);
  border-top: 1px solid lighten($ui-base-color, 8%);
  border-bottom: 1px solid lighten($ui-base-color, 8%);

  &__button {
    flex: 1 1 auto;
    text-align: center;
  }

  &__dropdown {
    flex: 1 1 auto;
    position: relative;

    @include flex(center, center);
  }
}