:root {
  --radius-small: 8px;
  --radius-circle: 9999px;

  /* Default Font Sizes */

  --font_size_extra_small: 12px;
  --font_size_small: 13px;
  --font_size_normal: 14px;
  --font_size_medium: 15px;
  --font_size_large: 16px;
  --font_size_extra_large: 19px;
  --font_size_extra_extra_large: 24px;

  --color_brand-dark: #38a16b;
  --color_brand-light: #36e991;
  --color_brand-light-opaque: rgb(54, 233, 145, .125);
  --color_brand: #21cf7a;

  --color_white: #fff;
  --color_black: #2d3436;
  --color_black-opaque: rgba(0, 0, 0, .8);
  --color_black-opaquer: rgba(0, 0, 0, .5);
  --color_gold: #ffd700;
  --color_red: #de2960;
  --color_red-dark: #c72c5b;

  /* LIGHT THEME */
  --solid_color_primary: #fff;
  --solid_color_primary-opaque:rgba(255, 255, 255,.6);
  --solid_color_secondary: #e2e8ec;
  --solid_color_secondary-dark: #d9e0e5;
  --solid_color_tertiary: #f6f6f9;
  --solid_color_block: #f5f8fa;

  --text_color_primary: #2d3436;
  --text_color_secondary: #4b4f55;
  --text_color_tertiary: #777;

  --border_color_secondary: #ececed;

  /* MUTED THEME */
  /* --solid_color_primary: #222;
  --solid_color_primary-opaque:rgba(34, 34, 34, .6);
  --solid_color_secondary: #4f5050;
  --solid_color_secondary-dark: #424343;
  --solid_color_tertiary: #333;
  --solid_color_block: #2d2d2d;

  --text_color_primary: #fff;
  --text_color_secondary: #7b7b7b;
  --text_color_tertiary: #656565;

  --border_color_secondary: #424141; */

  /* BLACK THEME */
  /* --solid_color_primary: #13171b;
  --solid_color_primary-opaque:rgba(19, 23, 27, .6);
  --solid_color_secondary: #4f5050;
  --solid_color_secondary-dark: #424343;
  --solid_color_tertiary: #000;
  --solid_color_block: #202327;

  --text_color_primary: #cccbcb;
  --text_color_secondary: #61686E;
  --text_color_tertiary: #656565;

  --border_color_secondary: #212020; */
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--solid_color_tertiary);
}

body {
  overflow-y: scroll;
  overscroll-behavior-y: none;
}

.overflowYScroll {
  overflow: hidden;
  overflow-y: scroll;
}

.statusContent,
.statusContent * {
  margin-top: 0;
  margin-bottom: 0;
  font-size: var(--font_size_medium);
  overflow-wrap: break-word;
  color: var(--text_color_primary);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
}

.statusContent p {
  min-height: 18px;
}

.statusContent em {
  font-style: italic;
}

.statusContent strong {
  font-weight: 700;
}

.statusContent strike,
.statusContent del {
  text-decoration: line-through;
}

.statusContent h1 {
  font-size: var(--font_size_extra_large);
  font-weight: 700;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.statusContent ul,
.statusContent ol {
  list-style-type: disc;
  padding-left: 40px;
  margin: 0;
}

.dangerousContent,
.dangerousContent * {
  margin-top: 0;
  margin-bottom: 0;
  font-size: var(--font_size_normal);
  overflow-wrap: break-word;
  color: var(--text_color_primary);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
}

.statusContent a,
.dangerousContent a {
  color: var(--color_brand);
  text-decoration: none;
}

.statusContent a:hover,
.dangerousContent a:hover {
  text-decoration: underline;
}

.statusCardVideo iframe {
  height: 100% !important;
  width: 100% !important;
}

.default {
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  align-items: stretch;
  flex-shrink: 0;
  border: 0 solid var(--color_black);
  z-index: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

.text {
  display: inline;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Roboto, Ubuntu, "Helvetica Neue", sans-serif;
}

.font {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Roboto, Ubuntu, "Helvetica Neue", sans-serif;
}

.wrap {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.overflowWrapBreakWord {
  overflow-wrap: break-word;
}

.inherit {
  color: inherit;
  font: inherit;
  white-space: inherit;
}

.inheritFill { fill: inherit; }

.flexNormal {
  flex-basis: 0%;
  flex-grow: 1;
  flex-shrink: 1;
}

.flex1 { flex: 1; }
.flexGrow1 { flex-grow: 1; }
.flexShrink1 { flex-shrink: 1; }

.flexRow { flex-direction: row; }
.flexWrap { flex-wrap: wrap; }

.alignItemsEnd { align-items: flex-end; }
.alignItemsStart { align-items: flex-start; }
.alignItemsCenter { align-items: center; }

.justifyContentSpaceBetween { justify-content: space-between; }
.justifyContentCenter { justify-content: center; }

.overflowHidden {
  overflow-x: hidden;
  overflow-y: hidden;
}

.overflowYHidden { overflow-y: hidden; }

.textOverflowEllipsis {
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.whiteSpaceNoWrap { white-space: nowrap; }

.outlineNone { outline: none; }

.resizeNone { resize: none; }

.circle { border-radius: var(--radius-circle); }
.radiusSmall { border-radius: var(--radius-small); }
.topLeftRadiusSmall { border-top-left-radius: var(--radius-small); }
.topRightRadiusSmall { border-top-right-radius: var(--radius-small); }
.bottomRightRadiusSmall { border-bottom-right-radius: var(--radius-small); }
.bottomLeftRadiusSmall { border-bottom-left-radius: var(--radius-small); }

.borderColorWhite { border-color: var(--color_white); }
.borderColorPrimary { border-color: var(--solid_color_primary); }
.borderColorSecondary { border-color: var(--border_color_secondary); }
.borderColorBrand { border-color: var(--color_brand); }
.borderColorTransparent { border-color: transparent; }

.borderRight1PX { border-right-width: 1px; }
.borderBottom1PX { border-bottom-width: 1px; }
.borderLeft1PX { border-left-width: 1px; }
.borderTop1PX { border-top-width: 1px; }

.border1PX { border-width: 1px; }
.border2PX { border-width: 2px; }
.border6PX { border-width: 6px; }

.borderBottom2PX { border-bottom-width: 2px; }

.borderDashed { border-style: dashed; }

.displayNone { display: none; }
.displayBlock { display: block; }
.displayInline { display: inline; }
.displayFlex { display: flex !important; }

.cursorText { cursor: text; }
.cursorPointer { cursor: pointer; }
.cursorNotAllowed { cursor: not-allowed; }

.backgroundCandy {
  background-image: linear-gradient(-45deg, 
    rgba(255, 255, 255, 0.15) 10%, 
    rgba(255, 255, 255, 0) 10%,
    rgba(255, 255, 255, 0) 20%,
    rgba(255, 255, 255, 0.15) 20%,
    rgba(255, 255, 255, 0.15) 30%,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, 0.15) 40%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0) 50%,
    rgba(255, 255, 255, 0) 60%,
    rgba(255, 255, 255, 0.15) 60%,
    rgba(255, 255, 255, 0.15) 70%,
    rgba(255, 255, 255, 0) 70%,
    rgba(255, 255, 255, 0) 80%,
    rgba(255, 255, 255, 0.15) 80%,
    rgba(255, 255, 255, 0.15) 90%,
    rgba(255, 255, 255, 0) 90%,
    rgba(255, 255, 255, 0)
  );
}

.backgroundTransparent { background-color: transparent; }

.backgroundColorLoading { background-color: #ccc; }

.backgroundColorSubtle { background-color: var(--solid_color_block); }
.backgroundColorSubtle_onHover:hover { background-color: var(--solid_color_block); }

.backgroundColorSubtle2 { background-color: var(--solid_color_secondary); }
.backgroundColorSubtle2Dark_onHover:hover { background-color: var(--solid_color_secondary-dark); }

.backgroundColorSecondary3 { background-color: var(--solid_color_tertiary); }

.backgroundColorPrimary { background-color: var(--solid_color_primary); }
.backgroundColorPrimaryOpaque { background-color: var(--solid_color_primary-opaque) }

.backgroundColorWhite { background-color: var(--color_white); }

.backgroundColorBlack { background-color: var(--color_black); }
.backgroundColorBlackOpaque { background-color: var(--color_black-opaquer); }
.backgroundColorBlackOpaque_onHover:hover { background-color: var(--color_black-opaque); }

.backgroundColorBrand { background-color: var(--color_brand); }
.backgroundColorBrand_onHover:hover { background-color: var(--color_brand); }

.backgroundColorBrandLight { background-color: var(--color_brand-light); }
.backgroundColorBrandLightOpaque { background-color: var(--color_brand-light-opaque); }
.backgroundColorBrandLightOpaque_onHover:hover { background-color: var(--color_brand-light-opaque); }

.backgroundColorBrandDark { background-color: var(--color_brand-dark); }
.backgroundColorBrandDark_onHover:hover { background-color: var(--color_brand-dark); }

.backgroundColorDanger { background-color: var(--color_red); }
.backgroundColorDangerDark_onHover:hover { background-color: var(--color_red-dark); }

/*  */

.colorPrimary { color: var(--text_color_primary); }

.colorWhite { color: var(--color_white); }
.colorWhite_onHover:hover { color: var(--color_white); }

.colorTertiary { color: var(--text_color_tertiary); }
.colorSecondary { color: var(--text_color_secondary); }

.colorBrand { color: var(--color_brand); }
.colorGabPro { color: var(--color_gold); }

/*  */

.fillColorPrimary { fill: var(--text_color_primary); }
.fillColorSecondary { fill: var(--text_color_secondary); }

.fillColorWhite { fill: var(--color_white); }
.fillColorWhite_onHover:hover { fill: var(--color_white); }

.fillColorBrand { fill: var(--color_brand); }
.fillColorBrand_onHover:hover { fill: var(--color_brand);}

.fillColorGabPro { fill: var(--color_gold); }

/*  */

.top0 { top: 0; }
.top80PX { top: 80px; }
.top60PC { top: 60%; }

.bottom0 { bottom: 0; }
.bottomAuto { bottom: auto; }

.left0 { left: 0px; }

.right0 { right: 0px; }
.rightAuto { right: auto; }

/*  */

.lineHeight125 { line-height: 1.25em; }
.lineHeight15 { line-height: 1.5em; }
.lineHeight2 { line-height: 2em; }

/*  */

.posFixed { position: fixed; }
.posAbs { position: absolute; }

.noSelect { user-select: none; }

.resizeVertical { resize: vertical; }

.center160PX {
  left: calc(100vw / 2 - 80px);
}

.heightMax100VH { max-height: 100vh; }
.heightMax80VH { max-height: 80vh; }
.heightMax56PX { max-height: 56px; }

.heightMin100VH { min-height: 100vh; }
.heightMin50VH { min-height: 50vh; }
.heightMin50PX { min-height: 50px; }

.height100VH { height: 100vh; }
.height100PC { height: 100%; }
.height350PX { height: 350px; }
.height260PX { height: 260px; }
.height220PX { height: 220px; }
.height158PX { height: 158px; }
.height122PX { height: 122px; }
.height72PX { height: 72px; }
.height53PX { height: 53px; }
.height50PX { height: 50px; }
.height40PX { height: 40px; }
.height24PX { height: 24px; }
.height22PX { height: 22px; }
.height20PX { height: 20px; }
.height4PX { height: 4px; }
.height1PX { height: 1px; }

.maxWidth100PC { max-width: 100%; }

.width100PC { width: 100%; }
.width50PC { width: 50%; }
.width25PC { width: 25%; }
.width1015PX { width: 1015px; }
.width645PX { width: 645px; }
.width340PX { width: 340px; }
.width330PX { width: 330px; }
.width250PX { width: 240px; }
.width240PX { width: 240px; }
.width160PX { width: 160px; }
.width72PX { width: 72px; }
.width50PX { width: 50px; }
.width20PX { width: 20px; }
.width4PX { width: 4px; }


@media (min-width: 1480px) {
  .width1015PX {
    width: 1080px;
  }

  .width645PX {
    width: 700px;
  }

  .width340PX {
    width: 350px;
  }

  .width240PX {
    width: 250px;
  }
}

@media (min-width: 1160px) and (max-width: 1280px) {
  .width1015PX {
    width: 910px;
  }

  .width645PX {
    width: 580px;
  }

  .width340PX {
    width: 300px;
  }

  .width240PX {
    width: 230px;
  }
}

@media (min-width: 1080px) and (max-width: 1160px) {
  .width1015PX {
    width: 850px;
  }

  .width645PX {
    width: 525px;
  }

  .width340PX {
    width: 300px;
  }

  .width240PX {
    width: 210px;
  }
}

@media (min-width: 992px) and (max-width: 1080px) {
  .width1015PX {
    width: 850px;
  }

  .width645PX {
    width: 525px;
  }

  .width340PX {
    width: 300px;
  }

  .width240PX {
    width: 100px;
  }
}

@media (min-width: 0px) and (max-width: 992px) {
  .width1015PX {
    max-width: 600px;
    width: 100%;
  }

  .width645PX {
    max-width: 600px;
    width: 100%;
  }

  .width340PX {
    width: 0px;
  }

  .width240PX {
    width: 0px;
  }
}

.textAlignLeft { text-align: left; }
.textAlignCenter { text-align: center; }

.fontSize24PX { font-size: var(--font_size_extra_extra_large); }
.fontSize19PX { font-size: var(--font_size_extra_large); }
.fontSize16PX { font-size: var(--font_size_large); }
.fontSize15PX { font-size: var(--font_size_medium); }
.fontSize14PX { font-size: var(--font_size_normal); }
.fontSize13PX { font-size: var(--font_size_small); }
.fontSize12PX { font-size: var(--font_size_extra_small); }
.fontSize0 { font-size: 0; }

.fontWeightNormal { font-weight: 400; }
.fontWeightMedium { font-weight: 500; }
.fontWeightBold { font-weight: 600; }
.fontWeightExtraBold { font-weight: 800; }

.noUnderline { text-decoration: none; }
.underline { text-decoration: underline; }
.underline_onHover:hover { text-decoration: underline; }

.objectFitCover {
  object-fit: cover;
}

.textShadow {
  text-shadow: 0 0 5px var(--color_black);
}

.z1 { z-index: 1; }
.z2 { z-index: 2; }
.z3 { z-index: 3; }
.z4 { z-index: 4; }

.my10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.margin1PX { margin: 1px; }

.mr15 { margin-right: 15px; }
.mr10 { margin-right: 10px; }
.mr5 { margin-right: 5px; }
.mr2 { margin-right: 2px; }
.mrAuto { margin-right: auto; }

.ml15 { margin-left: 15px; }
.ml10 { margin-left: 10px; }
.ml5 { margin-left: 5px; }
.mlAuto { margin-left: auto; }
.mlNeg5PX { margin-left: -5px; }

.mb15 { margin-bottom: 15px; }
.mb10 { margin-bottom: 10px; }
.mb5 { margin-bottom: 5px; }
.mbNeg5PX { margin-bottom: -5px; }

.mt10 { margin-top: 10px; }
.mt5 { margin-top: 5px; }
.mt2 { margin-top: 2px; }
.mtAuto { margin-top: auto; }
.mtNeg32PX { margin-top: -32px; }
.mtNeg75PX { margin-top: -75px; }

.pt5625PC { padding-top: 56.25%; }
.pt25PC { padding-top: 25%; }
.pt53PX { padding-top: 53px; }
.pt15 { padding-top: 15px; }
.pt10 { padding-top: 10px; }
.pt5 { padding-top: 5px; }
.pt2 { padding-top: 2px; }

.pb15 { padding-bottom: 15px; }
.pb10 { padding-bottom: 10px; }
.pb5 { padding-bottom: 5px; }

.pl25 { padding-left: 25px; }
.pl15 { padding-left: 15px; }
.pl0 { padding-left: 0; }

.pr15 { padding-right: 15px; }
.pr5 { padding-right: 5px; }
.pr0 { padding-right: 0; }

.px15 {
  padding-left: 15px;
  padding-right: 15px;
}

.py5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.py10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.py15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.py2 {
  padding-top: 2px;
  padding-bottom: 2px;
}

.px2 {
  padding-left: 2px;
  padding-right: 2px;
}

.px5 {
  padding-left: 5px;
  padding-right: 5px;
}

.px10 {
  padding-left: 10px;
  padding-right: 10px;
}

.opacity0 { opacity: 0; }
.opacity05 { opacity: 0.5; }
.opacity1 { opacity: 1; }

.boxShadow1 { box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .25); }
.boxShadowPopover { box-shadow: 0 0 15px -5px rgba(0,0,0,0.15); }
.boxShadowBlock { box-shadow: 0 1px 2px rgba(0,0,0,0.2); }

.boxShadowNone .boxShadowBlock {
  box-shadow: none !important;
}

.boxShadowAvatarPro {
  box-shadow: 0 0 0 2px var(--color_gold);
}

.boxShadowProfileAvatar {
  box-shadow: 0 0 0 6px #F6F6F9;
}

.listStyleNone {
  list-style: none;
}

.videoPlayerControlsBackground {
  background: linear-gradient(0deg, rgba(0,0,0,.85), rgba(0,0,0,.45) 60%, transparent);
}

.videoPlayerSeek:before {
  content: '';
  display: block;
  position: absolute;
  border-radius: 4px;
  top: 10px;
  width: 100%;
  height: 40px;
}

.videoPlayerVolume {
  width: 24px;
  right: 65px;
  bottom: 60px;
}

.select {
  height: 42px;
  line-height: 42px;
  font-size: var(--font_size_extra_large);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

:global(.emojione) {
  margin: -3px 0 0;
  height: 20px;
  width: 20px;
}

/* .videoPlayerVolume:before {
  content: '';
  display: block;
  position: absolute;
} */

.visiblyHidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  composes: posAbs;
}

.visibilityHidden {
  visibility: hidden;
}

/**
 * Rich Text Editor
 */
:global(.RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root) {
  display: none;
}

/* :global(.public-DraftEditorPlaceholder-inner) {
  font-weight: 400;
  font-size: var(--font_size_large);
} */

:global(.RichEditor-blockquote) {
  border-left: 5px solid var(--border_color_secondary);
  color: var(--text_color_secondary);
  font-style: italic;
  margin: 16px 0;
  padding: 10px 20px;
}

:global(.public-DraftStyleDefault-pre) {
  background-color: rgba(0,0,0,.05);
  font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
  font-size: var(--font_size_large);
  padding: 10px 20px;
}

/*  */

:global(.emoji-mart-search input) {
  border-radius: var(--radius-circle) !important;
}

/*  */

:global(.react-datepicker) {
  border: 0 !important;
  width: 100% !important;
}

:global(.react-datepicker__header) {
  background-color: transparent !important;
  border-color: var(--border_color_secondary) !important;
}

:global(.react-datepicker__month-container) {
  border-color: var(--border_color_secondary) !important;
}

:global(.react-datepicker__time-container) {
  border-color: var(--border_color_secondary) !important;
  min-height: 230px !important;
}

:global(.react-datepicker__time-list-item) {
  padding: 10px !important;
  height: auto !important;
}

:global(.react-datepicker__navigation--next--with-time:not(.react-datepicker__navigation--next--with-today-button)) {
  right: 95px !important;
}

:global(.react-datepicker__current-month),
:global(.react-datepicker-time__header),
:global(.react-datepicker-year-header) {
  font-weight: 500 !important;
}

:global(.react-datepicker__time-list-item--selected),
:global(.react-datepicker__day--selected),
:global(.react-datepicker__day--in-selecting-range),
:global(.react-datepicker__day--in-range),
:global(.react-datepicker__month-text--selected),
:global(.react-datepicker__month-text--in-selecting-range),
:global(.react-datepicker__month-text--in-range),
:global(.react-datepicker__quarter-text--selected),
:global(.react-datepicker__quarter-text--in-selecting-range),
:global(.react-datepicker__quarter-text--in-range) {
  background-color: var(--color_brand) !important;
}