html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  overflow-y: scroll;
  overscroll-behavior-y: none;
}

.default {
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  align-items: stretch;
  flex-shrink: 0;
  border: 0 solid black;
  z-index: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

.text {
  display: inline;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
}

.wrap {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.overflowWrapBreakWord {
  overflow-wrap: break-word;
}

.inherit {
  color: inherit;
  font: inherit;
  white-space: inherit;
}

.flex-normal {
  flex-basis: 0%;
  flex-grow: 1;
  flex-shrink: 1;
}

.flexGrow1 { flex-grow: 1; }
.flexShrink1 { flex-shrink: 1; }
.flexRow { flex-direction: row; }
.flexWrap { flex-wrap: wrap; }

.alignItemsEnd { align-items: flex-end; }
.alignItemsStart { align-items: flex-start; }
.alignItemsCenter { align-items: center; }

.justifyContentSpaceBetween { justify-content: space-between; }
.justifyContentCenter { justify-content: center; }

.overflowHidden {
  overflow-x: hidden;
  overflow-y: hidden;
}

.textOverflowEllipsis {
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.circle { border-radius: 9999px; }

.marginAuto { margin: auto; }

.displayNone { display: none; }
.displayBlock { display: block; }
.displayInline { display: inline; }
.displayInlineBlock { display: inline-block; }

.cursorPointer { cursor: pointer }

.pointerEventsAuto > * { pointer-events: auto;}
.pointerEventsNone { pointer-events: none !important; }

.backgroundWhite { background-color: #fff; }
.colorBlack { color: #000; }
.colorSubtle { color: #666; }
.colorBrand { color: rgb(29, 161, 242); }
.fillColorBrand { fill: #21cf7a; }

.bottom0 { bottom: 0; }
.left0 { left: 0px; }
.right0 { right: 0px; }
.top0 { top: 0px; }

.lineHeight125 { height: 1.25em; }
.lineHeight2 { line-height: 2em; }

.positionFixed { position: fixed; }
.positionRelative { position: relative; }
.positionAbsolute { position: absolute; }

.noSelect { user-select: none; }

.height100PC { height: 100%; }
.height50PX { height: 50px; }
.height72PX { height: 72px; }

.width990PX { width: 990px; }
.width600PX { width: 600px; }
.width350PX { width: 350px; }
.width275PX { width: 275px; }
.width100PC { width: 100%; }
.width72PX { width: 72px; }
.maxWidth100PC { max-width: 100%; }

.top0 { top: 0; }
.top60PC { top: 60%; }

.textAlignCenter { text-align: center; }

.fontSize19PX { font-size: 19px; }
.fontSize13PX { font-size: 13px; }

.fontWeightNormal { font-weight: 400; }
.fontWeightBold { font-weight: 600; }

.noUnderline { text-decoration: none; }
.underline { text-decoration: underline; }

.z1 { z-index: 1; }
.z2 { z-index: 2; }
.z3 { z-index: 3; }

.marginVertical5PX {
  margin-top: 5px;
  margin-bottom: 5px;
}

.paddingVertical10PX {
  padding-top: 10px;
  padding-bottom: 10px;
}

.paddingHoizontal10PX {
  padding-left: 10px;
  padding-right: 10px;
}

.paddingHorizontal20PX {
  padding-left: 20px;
  padding-right: 20px;
}

.paddingRight15PX {
  padding-right: 15px;
}