// Roboto Regular
@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/roboto/roboto-regular-400.eot?#iefix');
  src: url('../fonts/roboto/roboto-regular-400.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto/roboto-regular-400.woff2') format('woff2'),
    url('../fonts/roboto/roboto-regular-400.woff') format('woff'),
    url('../fonts/roboto/roboto-regular-400.ttf') format('truetype'),
    url('../fonts/roboto/roboto-regular-400.svg') format('svg');
}

// Roboto Light
@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  font-style: normal;
  src: url('../fonts/roboto/roboto-light-300.eot?#iefix');
  src: url('../fonts/roboto/roboto-light-300.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto/roboto-light-300.woff2') format('woff2'),
    url('../fonts/roboto/roboto-light-300.woff') format('woff'),
    url('../fonts/roboto/roboto-light-300.ttf') format('truetype'),
    url('../fonts/roboto/roboto-light-300.svg') format('svg');
}

// Roboto Bold
@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/roboto/roboto-bold-700.eot?#iefix');
  src: url('../fonts/roboto/roboto-bold-700.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto/roboto-bold-700.woff2') format('woff2'),
    url('../fonts/roboto/roboto-bold-700.woff') format('woff'),
    url('../fonts/roboto/roboto-bold-700.ttf') format('truetype'),
    url('../fonts/roboto/roboto-bold-700.svg') format('svg');
}

// Montserrat Extra Bold
// Used for all bold number, scoreboard, count displays
@font-face {
  font-family: 'Montserrat';
  font-weight: 800;
  font-style: normal;
  src: url('../fonts/montserrat/montserrat-extra-bold-800.eot?#iefix');
  src: url('../fonts/montserrat/montserrat-extra-bold-800.eot?#iefix') format('embedded-opentype'),
    url('../fonts/montserrat/montserrat-extra-bold-800.woff2') format('woff2'),
    url('../fonts/montserrat/montserrat-extra-bold-800.woff') format('woff'),
    url('../fonts/montserrat/montserrat-extra-bold-800.ttf') format('truetype'),
    url('../fonts/montserrat/montserrat-extra-bold-800.svg') format('svg');
}