.public-layout {
  .footer {
    padding: 40px 0;
    font-size: 12px;
    background-color: lighten($ui-base-color, 5%);
    border-top: darken($ui-base-color, 10%);

    @include flex(center, center);

    @media screen and (max-width:1024px) {
      padding: 40px 20px;
    }

    .footer-container {
      width: 960px;

      @include flex(flex-start, center, row, wrap);

      @media screen and (max-width:1024px) {
        width: 100%;
      }

      @media screen and (max-width:767px) {
        flex-direction: column-reverse;
        justify-content: center;
      }
    }

    h4 {
      text-transform: uppercase;
      margin-bottom: 8px;
      color: $darker-text-color;

      @include text-sizing(1.6rem, 700, 1.5);

      a {
        color: inherit;
        text-decoration: none;
      }
    }

    .copyright {
      margin-right: auto;

      span {
        color: $primary-text-color;

        @include text-sizing(1.3rem, 500, 1.5);

        &:last-of-type {
          color: darken($primary-text-color, 20%);
        }
      }
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      margin-left: auto;

      li {
        a {
          text-decoration: none;
          color: lighten($ui-base-color, 34%);
          padding: 10px 4px;
          margin-left: 10px;

          @include text-sizing(1.3rem, 500, 1.5);

          &:hover,
          &:active,
          &:focus {
            text-decoration: underline;
          }
        }
      }
    }

    @media screen and (max-width:767px) {
      .copyright {
        margin: 0 auto auto;
        text-align: center;
      }

      ul {
        margin: 0 auto 20px;
      }
    }
  }
}
