.compose-form__poll-wrapper {
  border-top: 1px solid darken($simple-background-color, 8%);

  ul {
    padding: 10px;
  }

  .poll__footer {
    border-top: 1px solid darken($simple-background-color, 8%);
    padding: 10px;
    display: flex;
    align-items: center;

    button,
    select {
      flex: 1 1 50%;
    }
  }

  .button.button--secondary {
    padding: 6px 10px;
    height: auto;
    color: $action-button-color;
    border-color: $action-button-color;
    margin-right: 5px;

    @include text-sizing(14px, 400, inherit);
  }

  li {
    display: flex;
    align-items: center;

    .poll__text {
      flex: 0 0 auto;
      width: calc(100% - (23px + 6px));
      margin-right: 6px;
    }
  }

  select {
    appearance: none;
    box-sizing: border-box;
    font-size: 14px;
    color: $inverted-text-color;
    display: inline-block;
    width: auto;
    outline: 0;
    font-family: inherit;
    background: $simple-background-color url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14.933 18.467' height='19.698' width='15.929'><path d='M3.467 14.967l-3.393-3.5H14.86l-3.392 3.5c-1.866 1.925-3.666 3.5-4 3.5-.335 0-2.135-1.575-4-3.5zm.266-11.234L7.467 0 11.2 3.733l3.733 3.734H0l3.733-3.734z' fill='#{hex-color(darken($simple-background-color, 14%))}'/></svg>") no-repeat right 8px center / auto 16px;
    padding: 6px 30px 6px 10px;

    @include border-design(darken($simple-background-color, 14%), 1px, 4px);
  }

  .icon-button.disabled {
    color: darken($simple-background-color, 14%);
  }
}

.muted .poll {
  color: $dark-text-color;

  &__chart {
    background: rgba(darken($ui-primary-color, 14%), 0.2);

    &.leading {
      background: rgba($ui-highlight-color, 0.2);
    }
  }
}