body.rtl {
  direction: rtl;

  .column-header>button {
    text-align: right;

    @include horizontal-padding(0, 15px);
  }

  .landing-page__logo {
    @include horizontal-margin(20px, 0);
  }

  .landing-page .features-list .features-list__row .visual {
    @include horizontal-margin(0, 15px);
  }

  .column-link__icon,
  .column-header__icon {
    @include horizontal-margin(0, 5px);
  }

  .compose-form .compose-form__buttons-wrapper .character-counter__wrapper {
    @include horizontal-margin(4px, 0);
  }

  .navigation-bar__profile {
    @include horizontal-margin(0, 8px);
  }

  .search__input {
    @include horizontal-padding(30px, 10px);
  }

  .search__icon .fa {
    right: auto;
    left: 10px;
  }

  .column-header__buttons {
    left: 0;
    right: auto;

    @include horizontal-margin(0, -15px);
  }

  .column-inline-form .icon-button {
    @include horizontal-margin(0, 5px);
  }

  .column-header__links .text-btn {
    @include horizontal-margin(10px, 0);
  }

  .account__avatar-wrapper {
    float: right;
  }

  .column-header__back-button {
    @include horizontal-padding(5px, 0);
  }

  .column-header__setting-arrows {
    float: left;
  }

  .setting-toggle__label {
    @include horizontal-margin(0, 8px);
  }

  .status__avatar {
    left: auto;
    right: 10px;
  }

  .status,
  .activity-stream .status.light {
    @include horizontal-padding(10px, 68px);
  }

  .status__info .status__display-name,
  .activity-stream .status.light .status__display-name {
    @include horizontal-padding(25px, 0);
  }

  .activity-stream .pre-header {
    @include horizontal-padding(0, 68px);
  }

  .status__prepend {
    @include horizontal-margin(0, 68px);
  }

  .status__prepend-icon-wrapper {
    left: auto;
    right: -26px;
  }

  .activity-stream .pre-header .pre-header__icon {
    left: auto;
    right: 42px;
  }

  .account__avatar-overlay-overlay {
    right: auto;
    left: 0;
  }

  .column-back-button--slim {
    right: auto;
    left: 0;
  }

  .status__relative-time,
  .activity-stream .status.light .status__header .status__meta {
    float: left;
  }

  .status__action-bar {

    &__counter {
      @include horizontal-margin(11px, 0);

      .status__action-bar-button {
        @include horizontal-margin(4px, 0);
      }
    }
  }

  .status__action-bar-button {
    float: right;

    @include horizontal-margin(18px, 0);
  }

  .status__action-bar-dropdown {
    float: right;
  }

  .privacy-dropdown__dropdown {
    @include horizontal-margin(0, 40px);
  }

  .privacy-dropdown__option__icon {
    @include horizontal-margin(10px, 0);
  }

  .detailed-status__display-name .display-name {
    text-align: right;
  }

  .detailed-status__display-avatar {
    float: right;

    @include horizontal-margin(10px, 0);
  }

  .detailed-status__favorites,
  .detailed-status__reposts {
    @include horizontal-margin(0, 6px);
  }

  .fa-ul {
    margin-left: 0;
    margin-left: 2.14285714em;
  }

  .fa-li {
    left: auto;
    right: -2.14285714em;
  }

  .admin-wrapper {
    direction: rtl;
  }

  .admin-wrapper .sidebar ul a i.fa,
  a.table-action-link i.fa {
    @include horizontal-margin(5px, 0);
  }

  .simple_form .check_boxes .checkbox label {
    @include horizontal-padding(0, 25px);
  }

  .simple_form .input.with_label.boolean label.checkbox {
    @include horizontal-padding(25px, 0);
  }

  .simple_form .check_boxes .checkbox input[type="checkbox"],
  .simple_form .input.boolean input[type="checkbox"] {
    left: auto;
    right: 0;
  }

  .simple_form .input.radio_buttons .radio {
    left: auto;
    right: 0;
  }

  .simple_form .input.radio_buttons .radio>label {
    @include horizontal-padding(0, 28px);
  }

  .simple_form .input-with-append .input input {
    @include horizontal-padding(142px, 0);
  }

  .simple_form .input.boolean label.checkbox {
    left: auto;
    right: 0;
  }

  .simple_form .input.boolean .label_input,
  .simple_form .input.boolean .hint {
    @include horizontal-padding(0, 28px);
  }

  .simple_form .label_input__append {
    right: auto;
    left: 3px;

    &::after {
      right: auto;
      left: 0;
      background-image: linear-gradient(to left, rgba(darken($ui-base-color, 10%), 0), darken($ui-base-color, 10%));
    }
  }

  .simple_form select {
    background: darken($ui-base-color, 10%) url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14.933 18.467' height='19.698' width='15.929'><path d='M3.467 14.967l-3.393-3.5H14.86l-3.392 3.5c-1.866 1.925-3.666 3.5-4 3.5-.335 0-2.135-1.575-4-3.5zm.266-11.234L7.467 0 11.2 3.733l3.733 3.734H0l3.733-3.734z' fill='#{hex-color(lighten($ui-base-color, 12%))}'/></svg>") no-repeat left 8px center / auto 16px;
  }

  .table th,
  .table td {
    text-align: right;
  }

  .filters .filter-subset {
    @include horizontal-margin(45px, 0);
  }

  .landing-page .header-wrapper .mascot {
    right: 60px;
    left: auto;
  }

  .landing-page__call-to-action .row__information-board {
    direction: rtl;
  }

  .landing-page .header .hero .floats .float-1 {
    left: -120px;
    right: auto;
  }

  .landing-page .header .hero .floats .float-2 {
    left: 210px;
    right: auto;
  }

  .landing-page .header .hero .floats .float-3 {
    left: 110px;
    right: auto;
  }

  .landing-page .header .links .brand img {
    left: 0;
  }

  .landing-page .fa-external-link {
    @include horizontal-padding(0 !important, 5px);
  }

  .landing-page .features #gabsocial-timeline {
    @include horizontal-margin(30px, 0);
  }

  @media screen and (min-width: 631px) {

    .column,
    .drawer {
      @include horizontal-padding(5px);

      &:first-child {
        @include horizontal-padding(5px, 10px);
      }
    }

    .columns-area>div {

      .column,
      .drawer {
        @include horizontal-padding(5px);
      }
    }
  }

  .public-layout {
    .header {
      .nav-button {
        @include horizontal-margin(8px, 0);
      }
    }

    .public-account-header__tabs {
      @include horizontal-margin(0, 20px);
    }
  }

  .landing-page__information {
    .account__display-name {
      @include horizontal-margin(5px, 0);
    }

    .account__avatar-wrapper {
      @include horizontal-margin(12px, 0);
    }
  }

  .card__bar .display-name {
    text-align: right;

    @include horizontal-margin(0, 15px);
  }

  .fa-chevron-left::before {
    content: "\F054";
  }

  .fa-chevron-right::before {
    content: "\F053";
  }

  .column-back-button__icon {
    @include horizontal-margin(5px, 0);
  }

  .column-header__setting-arrows .column-header__setting-btn:last-child {
    @include horizontal-padding(0, 10px);
  }

  .simple_form .input.radio_buttons .radio>label input {
    left: auto;
    right: 0;
  }
}