.upload-progress {
  padding: 10px;
  color: $lighter-text-color;
  overflow: hidden;
  display: flex;

  .fa {
    font-size: 34px;
    margin-right: 10px;
  }

  span {
    text-transform: uppercase;
    display: block;

    @include text-sizing(12px, 500);
  }

  &__message {
    flex: 1 1 auto;
  }

  &__backdrop {
    border-radius: 6px;
    background: $ui-base-lighter-color;
    position: relative;
    margin-top: 5px;

    @include size(100%, 6px);
  }

  &__tracker {
    height: 6px;
    background: $ui-highlight-color;
    border-radius: 6px;

    @include abs-position(0, auto, auto, 0);
  }
}