.display-name {
  display: block;
  max-width: 100%;

  @include text-overflow(break-word);

  &__html {
    font-weight: 600;
    font-size: 15px;
  }

  &__account {
    margin-left: 5px;
    font-size: 15px;
  }
}