.error-column {
  color: $dark-text-color;
  background: $ui-base-color;
  padding: 40px;
  cursor: default;
  flex: 1 1 auto;
  min-height: 160px;

  @include flex(center, center, column);
  @include text-sizing(15px, 400, 1, center);

  @supports(display: grid) {
    // hack to fix Chrome <57
    contain: strict;
  }

  &>span {
    max-width: 400px;
  }

  a {
    color: $highlight-text-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}