.status-check-box {
  display: flex;
  border-bottom: 1px solid $ui-secondary-color;

  &__status {
    margin: 10px 0 10px 10px;
    flex: 1;

    .media-gallery {
      max-width: 250px;
    }

    .status__content {
      padding: 0;
      white-space: normal;
    }

    .video-player {
      margin-top: 8px;
      max-width: 250px;
    }

    .media-gallery__item-thumbnail {
      cursor: default;
    }
  }

  &__toggle {
    flex: 0 0 auto;
    padding: 10px;

    @include flex(center, center);
  }
}