.autosuggest-account {
  @include flex(flex-start, center, row);
  @include text-sizing(14px, 400, 18px);

  &__icon {
    display: block;
    margin-right: 8px;

    @include size(16px);
  }

  .display-name__account {
    color: $lighter-text-color;
  }
}