.text-icon-button {
  color: $gab-secondary-text;
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0 3px;
  outline: 0;
  transition: color 100ms ease-in;

  @include text-sizing(11px, 600, 27px);

  &:hover,
  &:active,
  &:focus {
    color: darken($lighter-text-color, 7%);
    transition: color 200ms ease-out;
  }

  &--active {
    color: $highlight-text-color;
  }

  &::-moz-focus-inner {
    border: 0;
  }

  &::-moz-focus-inner,
  &:focus,
  &:active {
    outline: 0 !important;
  }
}