.unauthorized-modal {
  width: 440px !important;

  @media screen and (max-width:895px) {
    @include size(330px, 270px);
  }

  &__content {
    @include size(100%, 150px);
    @include flex(center, center, column);
  }

  &__footer {
    border-top: 1px solid #666;
    padding: 10px;

    @include flex(center, center);

    >span {
      font-size: 14px;
      color: $secondary-text-color;

      a {
        color: $gab-brand-default !important;
      }
    }
  }
}

.unauthorized-modal-content {
  &__text {
    display: block;
    margin-bottom: 18px;
    color: #fff;
    font-size: 14px;
  }

  &__button {
    width: 200px;
  }
}