.autosuggest-emoji {
  display: flex;
  justify-items: center;
  align-content: flex-start;
  flex-direction: row;

  @include text-sizing(14px, 400, 18px);

  img {
    display: block;
    margin-right: 8px;

    @include size(16px);
  }
}

.emojione {
  font-size: inherit;
  vertical-align: middle;
  object-fit: contain;
  margin: -.2ex .15em .2ex;

  @include size(16px);

  img {
    width: auto;
  }
}