.search-results {
  &__header {
    color: $dark-text-color;
    background: lighten($ui-base-color, 2%);
    padding: 15px;
    cursor: default;

    @include text-sizing(16px, 500);

    .fa {
      display: inline-block;
      margin-right: 5px;
    }
  }

  &__section {
    margin-bottom: 5px;

    h5 {
      display: flex;
      background: darken($ui-base-color, 4%);
      border-bottom: 1px solid lighten($ui-base-color, 8%);
      color: $dark-text-color;
      padding: 15px;
      cursor: default;

      @include text-sizing(16px, 500);

      .fa {
        display: inline-block;
        margin-right: 5px;
      }
    }

    .account:last-child,
    &>div:last-child .status {
      border-bottom: 0;
    }
  }
}