.modal-base {
  position: relative;
  z-index: 9999;

  &--hidden {
    display: none;
  }

  &__overlay {
    position: fixed;
    background: rgba($base-overlay-background, 0.7);

    @include abs-position(0, 0, 0, 0, false);
  }

  &__container {
    position: fixed;
    align-content: space-around;
    z-index: 9999;

    @include size(100%);
    @include flex(center, center, column);
    @include abs-position(0, auto, auto, 0, false);
    @include unselectable;
  }
}

// .modal-base__modal {
//   pointer-events: auto;
//   display: flex;
//   z-index: 9999;
//   max-height: 100%;
//   overflow-y: hidden;
// }