.relationship-tag {
  display: block;
  margin-bottom: 4px;
  vertical-align: top;
  color: $primary-text-color;
  background-color: $base-overlay-background;
  text-transform: uppercase;
  padding: 4px;
  border-radius: 4px;
  opacity: 0.7;

  @include text-sizing(11px, 500);

  &:hover {
    opacity: 1;
  }
}