.detailed-status {
  background: lighten($ui-base-color, 4%);
  padding: 14px 10px;

  &--flex {
    @include flex(space-between, flex-start, row, wrap);

    .status__content,
    .detailed-status__meta {
      flex: 100%;
    }
  }

  .status__content {
    @include text-sizing(19px, 400, 24px);

    .emojione {
      margin: -1px 0 0;

      @include size(24px);
    }

    .status__content__spoiler-link {
      line-height: 24px;
      margin: -1px 0 0;
    }
  }

  .video-player {
    margin-top: 8px;
  }


  &__meta {
    margin-top: 15px;
    color: $dark-text-color;

    @include text-sizing(14px, 400, 18px);
  }

  &__datetime {
    &:hover {
      text-decoration: underline;
    }
  }

  &__favorites,
  &__reblogs {
    display: inline-block;
    margin-left: 6px;

    @include text-sizing(12px, 500);
  }

  &__display-name,
  &__datetime,
  &__application {
    text-decoration: none;
  }

  &__display-name {
    &:hover strong {
      text-decoration: underline;
    }
  }

  &__application,
  &__datetime {
    color: inherit;
  }

  &__display-name {
    color: $secondary-text-color;
    display: block;
    line-height: 24px;
    margin-bottom: 15px;
    overflow: hidden;

    strong,
    span {
      display: block;

      @include text-overflow;
    }

    strong {
      font-size: 16px;
      color: $primary-text-color;
    }
  }

  &__display-avatar {
    float: left;
    margin-right: 10px;
  }
}