!!!
%html{ lang: 'en' }
  %head
    %meta{ 'http-equiv' => 'Content-Type', 'content' => 'text/html; charset=utf-8' }/
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0, shrink-to-fit=no' }

    %title/

    %style{ type: 'text/css' }
      :css
        body {
          font-family: system-ui, -apple-system, BlinkMacSystemFont, Roboto, Ubuntu, "Helvetica Neue", sans-serif;
        }
        a,
        span,
        p,
        div,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
          font-family: system-ui, -apple-system, BlinkMacSystemFont, Roboto, Ubuntu, "Helvetica Neue", sans-serif;
        }
        a:hover,
        a:active,
        a:focus {
          outline: 0;
        }
        .in-email-status a {
          color: #3BCD80;
          font-weight: 600;
        }
        span.MsoHyperlink {
          mso-style-priority: 99;
          color: inherit;
        }
        span.MsoHyperlinkFollowed {
          mso-style-priority: 99;
          color: inherit;
        }

  %body{ :style => "margin:0;padding:0;background-color:#eee;font-family: system-ui, -apple-system, BlinkMacSystemFont, Roboto, sans-serif;" }
    %table{:cellspacing => "0", :style => "margin:0 auto;width:100%;border-collapse:collapse;background-color:#eee;"}
      %tbody
        %tr
          %td{:align => "center", :style => "padding:20px 23px 0 23px"}
            %table{:style => "background-color:#fff;margin:0 auto;border-radius:5px;border-collapse:collapse", :width => "560"}
              %tbody
                %tr
                  %td{:align => "center"}
                    %table{:style => "margin:0 auto", :width => "500"}
                      %tbody
                        %tr
                          %td{:align => "center", :style => "padding:40px 0 35px 0"}
                            %a{:href => "https://gab.com", :style => "color:#3ACD80;text-decoration:none;outline:0;", :target => "_blank"}
                              %svg{:version => "1.1", :viewbox => "0 0 111 68", :height => "38px", :width => "62px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :style => "height:38px;width:62px;"}
                                %g
                                  %path{:d => "M 26.26 18.22 L 36.4 18.22 L 36.4 46.21 C 36.4 59.64 29.11 66.07 18.14 66.07 C 13.14 66.07 8.7 64.35 5.97 62 L 10.03 54.36 C 12.38 55.95 14.59 56.91 17.57 56.91 C 22.96 56.91 26.26 53.02 26.26 47.43 L 26.26 45.71 C 23.98 48.44 20.75 49.78 17.2 49.78 C 8.51 49.78 1.92 42.53 1.92 33.49 C 1.92 24.46 8.51 17.2 17.2 17.2 C 20.75 17.2 23.98 18.54 26.26 21.27 Z M 19.16 40.62 C 23.03 40.62 26.26 37.37 26.26 33.49 C 26.26 29.61 23.03 26.36 19.16 26.36 C 15.29 26.36 12.06 29.61 12.06 33.49 C 12.06 37.37 15.29 40.62 19.16 40.62 Z M 69.45 48.76 L 59.3 48.76 L 59.3 46.21 C 57.34 48.44 54.61 49.78 51.06 49.78 C 43.96 49.78 40.03 44.82 40.03 39.15 C 40.03 30.75 50.3 27.64 59.18 30.31 C 58.99 27.57 57.27 25.6 53.73 25.6 C 51.25 25.6 48.4 26.55 46.63 27.57 L 43.58 20.26 C 45.93 18.73 50.24 17.2 55.25 17.2 C 62.66 17.2 69.45 21.4 69.45 32.86 Z M 59.3 36.67 C 54.55 35.14 50.18 35.97 50.18 39.34 C 50.18 41.32 51.82 42.65 53.79 42.65 C 56.13 42.65 58.8 40.75 59.3 36.67 Z M 84.74 1.93 L 84.74 21.27 C 87.02 18.54 90.25 17.2 93.8 17.2 C 102.49 17.2 109.08 24.46 109.08 33.49 C 109.08 42.53 102.49 49.78 93.8 49.78 C 90.25 49.78 87.02 48.44 84.74 45.71 L 84.74 48.76 L 74.6 48.76 L 74.6 1.93 Z M 91.84 40.62 C 95.71 40.62 98.94 37.37 98.94 33.49 C 98.94 29.61 95.71 26.36 91.84 26.36 C 87.97 26.36 84.74 29.61 84.74 33.49 C 84.74 37.37 87.97 40.62 91.84 40.62 Z M 91.84 40.62 ", :style => "fill:#30CE7D"}

                        = yield

        %tr
          %td{:align => "center", :style => "padding-top:20px"}
            %table{:style => "margin:0 auto;border-collapse:collapse;background-color:#fff;border-radius:5px", :width => "560"}
              %tbody
                %tr
                  %td{:colspan => "4", :style => "vertical-align:middle;background-color:#ccc;border-radius:5px;"}
                    %table{:style => "background-color:#ccc;width:100%;border-radius:5px;border-collapse:collapse"}
                      %tbody
                        %tr
                          %td{:align => "center", :style => "vertical-align:middle;padding:22px 0;"}
                            %p{:style => "color:#fff;font-size:17px;margin:0;"} Questions? Simply email support@gab.com
        
        %tr
          %td{:align => "center", :style => "padding-top:20px"}
            %table{:style => "margin:0 auto;border-collapse:collapse;border-radius:5px", :width => "560"}
              %tbody
                %tr
                  %td{:colspan => "4", :style => "vertical-align:middle;"}
                    %table{:style => "width:100%;border-collapse:collapse"}
                      %tbody
                        %tr
                          %td{:align => "center", :style => "vertical-align:middle;padding:22px 0 0 0;"}
                            %p{:style => "color:#bbb;font-size:14px;margin:0;"} Gab AI, Inc.
                        %tr
                          %td{:align => "center", :style => "vertical-align:middle;padding:0 0 22px 0;"}
                            %p{:style => "color:#bbb;font-size:14px;margin:0;"} 700 N. State Street, Clarks Summit, PA 18411
       
        %tr
          %td{:align => "center", :style => "padding-top:29px;padding-bottom:50px"}
            %table{:style => "width:100%"}
              %tbody
                %tr
                  %td{:align => "center", :style => ""}
                    %a{:href => "https://gab.com", :style => "color:#3ACD80;text-decoration:none;outline:0;", :target => "_blank"}
                      %svg{:height => "28px", :version => "1.1", :viewbox => "0 0 111 68", :width => "46px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :style => "height:28px;width:46px;opacity:0.2;"}
                        %g
                          %path{:d => "M 26.26 18.22 L 36.4 18.22 L 36.4 46.21 C 36.4 59.64 29.11 66.07 18.14 66.07 C 13.14 66.07 8.7 64.35 5.97 62 L 10.03 54.36 C 12.38 55.95 14.59 56.91 17.57 56.91 C 22.96 56.91 26.26 53.02 26.26 47.43 L 26.26 45.71 C 23.98 48.44 20.75 49.78 17.2 49.78 C 8.51 49.78 1.92 42.53 1.92 33.49 C 1.92 24.46 8.51 17.2 17.2 17.2 C 20.75 17.2 23.98 18.54 26.26 21.27 Z M 19.16 40.62 C 23.03 40.62 26.26 37.37 26.26 33.49 C 26.26 29.61 23.03 26.36 19.16 26.36 C 15.29 26.36 12.06 29.61 12.06 33.49 C 12.06 37.37 15.29 40.62 19.16 40.62 Z M 69.45 48.76 L 59.3 48.76 L 59.3 46.21 C 57.34 48.44 54.61 49.78 51.06 49.78 C 43.96 49.78 40.03 44.82 40.03 39.15 C 40.03 30.75 50.3 27.64 59.18 30.31 C 58.99 27.57 57.27 25.6 53.73 25.6 C 51.25 25.6 48.4 26.55 46.63 27.57 L 43.58 20.26 C 45.93 18.73 50.24 17.2 55.25 17.2 C 62.66 17.2 69.45 21.4 69.45 32.86 Z M 59.3 36.67 C 54.55 35.14 50.18 35.97 50.18 39.34 C 50.18 41.32 51.82 42.65 53.79 42.65 C 56.13 42.65 58.8 40.75 59.3 36.67 Z M 84.74 1.93 L 84.74 21.27 C 87.02 18.54 90.25 17.2 93.8 17.2 C 102.49 17.2 109.08 24.46 109.08 33.49 C 109.08 42.53 102.49 49.78 93.8 49.78 C 90.25 49.78 87.02 48.44 84.74 45.71 L 84.74 48.76 L 74.6 48.76 L 74.6 1.93 Z M 91.84 40.62 C 95.71 40.62 98.94 37.37 98.94 33.49 C 98.94 29.61 95.71 26.36 91.84 26.36 C 87.97 26.36 84.74 29.61 84.74 33.49 C 84.74 37.37 87.97 40.62 91.84 40.62 Z M 91.84 40.62 ", :style => "fill:#444"}
